.evolutionLineWrapper {
	max-height: 15rem !important;
}

.evolutionInfoWrapper {
	display: flex;
	place-content: center;
	gap: 2em;
}

.evoWrapper {
	display: flex;
	gap: 2em;
}

.sprite {
	position: relative;
	width: 6rem;
	padding: 0;
	margin: 0;
	border-radius: 0.5rem;
	height: auto;
	image-rendering: pixelated;
}

.pokemonName {
	position: relative;
	font-weight: 500;
	margin-top: -1rem;
	border-radius: 1rem;
	background-color: var(--clr-input-bg);
}

.evolutionMethod {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-style: oblique;
	margin: 1em;
	max-width: 10rem;
}

.evolutionMethod img {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
	filter: var(--filter);
}

.evolutionMethod p {
	margin: 0;
}

@media (max-width: 500px) {
	.evolutionLineWrapper {
		max-height: 52rem !important;
	}

	.evolutionInfoWrapper {
		gap: 0;
		flex-direction: column;
	}

	.evolutionMethod {
		flex-direction: row;
		flex-grow: 1;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin: 0;
		padding-left: 3rem;
	}

	.evolutionMethod > div {
		min-width: 12rem;
	}

	.evolutionMethod > div > p {
		font-size: 1.2rem;
	}

	.evolutionMethod img {
		height: 4rem;
		width: auto;
		margin-bottom: 0;
	}

	.evoWrapper {
		gap: 0;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 3em;
	}

	.sprite {
		margin: 0;
		width: 10rem;
	}

	.pokemonName {
		font-size: 1.2rem;
		margin-top: -1rem;
	}
}
