.evolutionLineWrapper {
	max-height: 15rem !important;
}

.evolutionInfoWrapper {
	display: flex;
	place-content: center;
	gap: 2em;
}

.evoWrapper {
	display: flex;
	gap: 2em;
}

.sprite {
	position: relative;
	width: 6rem;
	padding: 0;
	margin: 0;
	border-radius: 0.5rem;
	height: auto;
	image-rendering: pixelated;
}

.pokemonName {
	position: relative;
	font-weight: 500;
	margin-top: -1rem;
	border-radius: 1rem;
	background-color: var(--clr-input-bg);
}

.evolutionMethod {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-style: oblique;
	margin: 1em;
	max-width: 10rem;
}

.evolutionMethod img {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
}

.evolutionMethod p {
	margin: 0;
}

@media (max-width: 500px) {
	.evolutionLineWrapper {
		max-height: 50rem !important;
	}

	.evolutionInfoWrapper {
		flex-direction: column;
	}

	.evolutionMethod {
		flex-direction: row;
	}

	.evolutionMethod img {
		margin-bottom: 0rem;
	}

	.evoWrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
