.statsContainer {
	max-width: 50rem;
	flex-grow: 2;
}

.statBarWrapper {
	flex: 1;
}

.statBar {
	background-color: rgb(212, 198, 0);
	height: 1rem;
	border-radius: 0.15rem;
}

.green {
	background-color: rgb(35, 216, 35);
}

.red {
	background-color: rgb(201, 55, 55);
}

.statsWrapper > li > span {
	width: 3ch;
}

.statsWrapper label {
	width: 8ch;
}
