.statsContainer {
	max-width: 50rem;
	flex-grow: 1;
}

.statBarWrapper {
	flex: 1;
}

.statBar {
	background-color: rgb(212, 198, 0);
	height: 1rem;
	border-radius: 0.15rem;
}

.green {
	background-color: rgb(35, 216, 35);
}

.red {
	background-color: rgb(201, 55, 55);
}

ul {
	list-style: none;
	text-align: left;
	padding: 0;
	font-weight: 500;
}

li {
	position: relative;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin: 0;
	padding-block: 0.5rem;
}

li:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--clr-background);
}

li > span {
	width: 3ch;
	text-align: right;
}

label {
	width: 8ch;
	text-align: right;
}
