.spriteContainer {
	display: flex;
	width: 15rem;
	flex-direction: column;
	place-items: center;
	padding-bottom: 1em;
	max-height: 18rem !important;
}

.spriteContainer > div {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.spriteContainer img {
	width: 6rem;
	height: auto;
	image-rendering: pixelated;
}

.skeletonFlex {
	display: flex;
	gap: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
