.spriteContainer {
	display: flex;
	gap: 1rem;
	width: 15rem;
	flex-direction: column;
	place-items: center;
	padding-bottom: 1em;
}

.spriteContainer > span {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

img {
	max-width: 100%;
	height: auto;
	image-rendering: pixelated;
}

.skeletonFlex {
	display: flex;
	gap: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
