.wrapper {
	position: relative;
	padding-top: 0.5em;
	--padding: 0.5em;
	--border-radius: 0.5rem;
	--font-size: 1.2rem;
}

.searchForm {
	display: flex;
	align-items: center;
	width: 500px;
}

@media (max-width: 500px) {
	.searchForm {
		width: 330px;
	}
}

.searchInput {
	font-size: var(--font-size);
	padding: var(--padding);
	border: var(--border-width) solid var(--clr-foreground);
	width: var(--search-bar-width);
	border-radius: var(--border-radius);
}

.searchBtn {
	font-size: var(--font-size);
	padding: var(--padding);
	margin-left: var(--padding);
	border: var(--border-width) solid var(--clr-foreground);
	border-radius: var(--border-radius);
}
