header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4em;
	align-items: center;
	width: 100vw;
	padding-inline: 1rem;
	margin-bottom: 1em;
}

header > h1 {
	margin: 0;
	padding: 0;
	text-align: left;
}

header > h1:last-child {
	text-align: right;
}

@media (max-width: 900px) {
	header {
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}

	header > h1:last-child {
		grid-column: 1 / 3;
		text-align: center;
	}
}

a {
	text-decoration: none;
	color: var(--clr-foreground);
}

@media (max-width: 500px) {
	header {
		grid-template-columns: 1fr;
		padding-top: 1em;
		gap: 0;
	}

	header > h1 {
		text-align: center;
	}

	header > div {
		grid-row: 2;
		margin: 1em auto;
	}

	header > h1:last-child {
		grid-row: 3;
		text-align: center;
	}
}
