.generalInfoContainer {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
}

.generalInfoContainer li {
	list-style: none;
	align-items: flex-start;
}

.infoWrapper label {
	width: 9ch;
	text-align: right;
}

.infoWrapper > li > span {
	display: flex;
}

.itemList {
	display: inline-flex;
	flex-direction: column;
}

.itemList > p {
	margin: 0;
}

.types {
	align-items: center;
	gap: 0.5em;
	color: white;
}
