.generalInfoContainer {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	max-height: 44rem !important;
}

.generalInfoContainer li {
	list-style: none;
	align-items: flex-start;
}

.infoWrapper label {
	width: 9ch;
	text-align: right;
}

.infoWrapper > li > span {
	display: flex;
}

.itemList {
	display: inline-flex;
	flex-direction: column;
}

.itemList > p {
	margin: 0;
}

.types {
	align-items: center;
	gap: 0.5em;
	color: white;
}

.male {
	color: rgb(49, 194, 252);
	margin-left: 0.3em;
	margin-right: 1em;
	text-shadow: 0.35px 0 rgb(49, 194, 252), 0 -0.35px rgb(49, 194, 252),
		0 0.35px rgb(49, 194, 252), -0.35px 0 rgb(49, 194, 252);
}

.female {
	color: rgb(252, 49, 161);
	margin-left: 0.2em;
	text-shadow: 0.35px 0 rgb(252, 49, 161), 0 -0.35px rgb(252, 49, 161),
		0 0.35px rgb(252, 49, 161), -0.35px 0 rgb(252, 49, 161);
}
