*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--clr-foreground: hsl(0, 0%, 90%);
	--clr-background: hsl(0, 0%, 20%);
	--clr-input-bg: hsl(0, 0%, 10%);
	--clr-active: hsl(0, 57%, 30%);

	--search-bar-width: 100%;
	--border-width: 0.15em;

	--filter: brightness(0) saturate(100%) invert(100%);

	color-scheme: light dark;
	color: var(--clr-foreground);
	background-color: var(--clr-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-foreground: hsl(0, 0%, 20%);
		--clr-background: hsl(0, 0%, 90%);
		--clr-input-bg: hsl(0, 0%, 100%);
		--clr-active: hsl(0, 57%, 80%);
		--filter: brightness(0) saturate(100%);
	}
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
}

#root {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 3.2em;
	margin: 0.5em;
	padding: 0;
	line-height: 1.1;
}

h3 {
	font-size: 2em;
	margin: 0.5em;
}

input {
	color: var(--clr-foreground);
	background-color: var(--clr-input-bg);
}

button {
	cursor: pointer;
	color: var(--clr-foreground);
	background-color: var(--clr-input-bg);
	border: var(--border-width) solid var(--clr-foreground);
	padding: 0.5em 1em;
}

button:hover {
	background-color: var(--clr-active);
	transition: background-color 0.15s ease-in-out;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.dashboardContainer {
	background-color: var(--clr-input-bg);
	border: solid 0.15em var(--clr-foreground);
	border-radius: 0.5rem;
	padding-inline: 1em;
	/* Feel free to overwrite this whenever necessary for specific components */
	max-height: 22rem;
}

ul {
	list-style: none;
	text-align: left;
	padding: 0;
	font-weight: 500;
}

ul > li {
	position: relative;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin: 0;
	padding-block: 0.5rem;
}

ul > li:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--clr-background);
}

.statsWrapper label {
	text-align: right;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--clr-foreground);
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 10em;
	background-color: var(--clr-foreground);
	color: var(--clr-background);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -5em;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

/* Tooltip left arrow */
.tooltip .tooltip-text::after {
	content: ' ';
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--clr-foreground) transparent transparent transparent;
}

@media (max-width: 500px) {
	.dashboardContainer {
		width: 100%;
	}
}
