*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--clr-foreground: hsl(0, 0%, 90%);
	--clr-background: hsl(0, 0%, 20%);
	--clr-input-bg: hsl(0, 0%, 10%);
	--clr-active: hsl(278, 100%, 40%);

	--search-bar-width: 100%;
	--border-width: 0.15em;

	color-scheme: light dark;
	color: var(--clr-foreground);
	background-color: var(--clr-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: justify-center;
	min-height: 100vh;
}

#root {
	padding: 0;
}

h1 {
	font-size: 3.2em;
	margin: 0.5em;
	padding: 0;
	line-height: 1.1;
}

input {
	color: var(--clr-foreground);
	background-color: var(--clr-input-bg);
}

button {
	cursor: pointer;
	color: var(--clr-foreground);
	background-color: var(--clr-input-bg);
	border: var(--border-width) solid var(--clr-foreground);
	padding: 0.5em 1em;
}

button:hover {
	background-color: var(--clr-active);
	transition: background-color 0.15s ease-in-out;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.dashboardContainer {
	background-color: var(--clr-input-bg);
	border: solid 0.15em var(--clr-foreground);
	border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-foreground: hsl(0, 0%, 20%);
		--clr-background: hsl(0, 0%, 90%);
		--clr-input-bg: hsl(0, 0%, 100%);
		--clr-active: hsl(278, 100%, 80%);
	}
}
